@import "src/@fuse/scss/fuse";

#academy-courses {
    .header {
        position: relative;
        height: 280px;
        max-height: 280px;
        text-align: center;
        overflow: hidden;

        .secondary-text{
            font-size: 20px !important;
        }

        @include media-breakpoint("xs") {
            height: 240px;
            padding: 16px;
        }

        .hero-text {
            .hero-icon {
                position: absolute;
                top: -64px;
                left: 0px;
                opacity: 0.04;
                font-size: 512px !important;
                width: 512px !important;
                height: 512px !important;
            }

            h1 {
                font-size: 40px;
                font-weight: 300;
                letter-spacing: 0.01em;
                text-align: center;
                margin-top: 0;
                margin-bottom: 16px;

                @include media-breakpoint("xs") {
                    font-size: 24px;
                }
            }

            h3 {
                max-width: 480px;
                text-align: center;
                font-weight: 300;
                letter-spacing: 0.03em;
                margin: 0;

                @include media-breakpoint("xs") {
                    font-size: 14px;
                }
            }
        }
    }

    .content {
        .category-selector {
            min-width: 320px;
        }

        .box-filter{
            width: 994px;
            background-color: #FFF; 
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 4px;
        }

        .title-filter {
            width: 100%; 
            padding: 10px;
            background-color: #FF6D00;
            color: #FFF;
            border-radius: 4px 4px 0px 0px;
            font-weight: 900;
        }

        .filters {
            width: 100%;
            max-width: 1040px;
            margin: 0px auto;
            padding: 10px 20px;

            @include media-breakpoint("xs") {
                margin: 0 auto;
            }

            .course-search {
                width: 320px;

                @include media-breakpoint("gt-xs") {
                    margin-right: 16px;
                }
            }

            .label{
                font-size: 22px !important;
                color: #000;
            }
        }

        .courses {
            width: 100%;
            max-width: 1040px;
            margin: 0 auto;

            .no-courses {
                font-size: 24px;
                margin: 24px 0;
                text-align: center;
            }

            .course {
                padding: 16px;
                cursor: pointer;

                &:hover {
                    .course-content {
                        border: none;
                        @include mat-elevation(20);
                    }
                }

                .release {
                    border-radius: 4px;
                    overflow: hidden;
                    transition: box-shadow 200ms ease-in-out;
                    @include mat-elevation(1);
                    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    background-color: #FFF;
                    padding: 20px;

                    .header {
                        height: 28px !important;
                        min-height: 28px !important;
                        max-height: 28px !important;
                        font-family: 'SimplonOi-Headline';
                        font-size: 20px;

                        &.web-bg {
                            background: mat-color($mat-blue, 500);
                        }

                        &.android-bg {
                            background: mat-color($mat-green, 500);
                        }

                        &.firebase-bg {
                            background: mat-color($mat-amber, 800);
                        }

                        &.cloud-bg {
                            background: mat-color($mat-blue-grey, 500);
                        }

                        .category {
                            width: 40px;
                            height: 40px;
                            padding: 10px;
                            text-transform: capitalize;
                            text-align: left;
                            font-weight: 600;
                            background-color: #1A698C;
                            border-radius: 50%;
                        }

                        .secondary-text{
                            width: 30px !important;
                            height: auto;
                            color: #FFF;
                        }
                    }

                    .content {

                        .h1 {
                            font-family: 'SimplonOi-Headline';
                            font-size: 50px;
                            text-align: center;
                        }

                        .updated {
                            font-family: 'SimplonOi-Headline';
                            font-size: 16px;
                            font-weight: 600;
                            color: #1A698C;
                        }
                    }
                }

                .release-atual {
                    border-radius: 4px;
                    overflow: hidden;
                    transition: box-shadow 200ms ease-in-out;
                    @include mat-elevation(1);
                    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    background-color: #000;
                    padding: 20px;

                    .header {
                        padding: 16px 24px;
                        height: 64px !important;
                        min-height: 64px !important;
                        max-height: 64px !important;

                        &.web-bg {
                            background: mat-color($mat-blue, 500);
                        }

                        &.android-bg {
                            background: mat-color($mat-green, 500);
                        }

                        &.firebase-bg {
                            background: mat-color($mat-amber, 800);
                        }

                        &.cloud-bg {
                            background: mat-color($mat-blue-grey, 500);
                        }

                        .category {
                            width: 40px;
                            height: 40px;
                            padding: 10px;
                            text-transform: capitalize;
                            text-align: left;
                            font-weight: 600;
                            background-color: #1A698C;
                            border-radius: 50%;
                        }

                        .secondary-text{
                            width: 30px !important;
                            height: auto;
                            color: #FFF;
                        }
                    }

                    .content {
                        padding: 10px;

                        .h1 {
                            font-family: 'SimplonOi-Headline';
                            font-size: 50px;
                            text-align: center;
                        }

                        .updated {
                            font-family: 'SimplonOi-Headline';
                            font-size: 16px;
                            font-weight: 600;
                            color: #1A698C;
                        }
                    }
                }

                .release-name{
                    float: left !important;
                    border: 5px solid #000;
                    width: 50%;
                }
            }
        }
    }
}
