<div id="academy-courses" class="page-layout simple">
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="center">

            <div class="filters" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
                fxLayoutAlign.gt-xs="space-between center">

                <mat-form-field appearance="outline" class="category-selector">
                    <mat-label>Release</mat-label>
                    <mat-select>
                        <mat-option [value]="'all'">
                            Todas
                        </mat-option>
                        <mat-option *ngFor="let release of listaRelease" [value]="release.nome">
                            {{ release.nome }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="courses" fxLayout="row wrap" fxLayoutAlign="center">

                <div class="course" *ngFor="let release of listaRelease" fxFlex="100" fxFlex.gt-xs="50"
                    fxFlex.gt-sm="33" [ngClass]="release.nome" (click)="openDialog(release.nome, 'ANA CRISTINA BRASIL VILLELA')">

                    <div class="course-content" fxLayout="column" fxFlex="1 1 auto">

                        <div class="header" fxLayout="row" fxLayoutAlign="center center"
                            [ngClass]="release.nome + '-bg'">

                            <div class="category" fxFlex>
                                {{release.nome}}
                            </div>

                            <div class="length" fxLayout="row" fxLayoutAlign="center center">
                                <mat-icon class="length-icon s-20">access_time</mat-icon>
                                <div class="min">{{release.total}}</div>
                            </div>

                        </div>

                        <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
                            <div class="h1">{{release.nome}}</div>
                            <div class="updated">{{release.total}}</div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>