<div id="academy-courses" class="page-layout simple">
    <div class="content p-24">
        <div fxLayout="column" fxLayoutAlign="center">

            <div class="courses" fxLayout="row wrap" fxLayoutAlign="center">

                <div fxLayout="column" fxLayoutAlign="center start" class="titulo-pagina"
                    style="width: 994px; margin-bottom: 5px;">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="secondary-text s-18">home</mat-icon>
                        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                        <span class="secondary-text">Monitor de Defeitos</span>
                        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                        <span class="secondary-text">PRJ00013760_ENT00005830 - Defeito: 161</span>
                    </div>
                </div>

                <div class="course" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25" fxLayoutAlign="center center">
                    <div class="release" fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center">
                        <div class="header" fxLayout="row">
                            Rejected
                        </div>
                        <div class="content" fxLayout="column">
                            <div class="updated">Status Atual</div>
                        </div>
                    </div>
                </div>
                <div class="course" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
                    <div class="release" fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center">

                        <div class="header" fxLayout="row">
                            Responsável Técnico
                        </div>
                        <div class="content" fxLayout="column">
                            <div class="updated">Agente Atual</div>
                        </div>
                    </div>
                </div>
                <div class="course" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
                    <div class="release" fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center">

                        <div class="header" fxLayout="row">
                            HIGH
                        </div>
                        <div class="content" fxLayout="column">
                            <div class="updated">Severidade</div>
                        </div>
                    </div>
                </div>
                <div class="course" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
                    <div class="release" fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center">

                        <div class="header" fxLayout="row">
                            80
                        </div>
                        <div class="content" fxLayout="column">
                            <div class="updated">CT's Impactados</div>
                        </div>
                    </div>
                </div>
                <div class="course" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
                    <div class="release" fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center">

                        <div class="header" fxLayout="row">
                            04:00
                        </div>
                        <div class="content" fxLayout="column">
                            <div class="updated">SLA</div>
                        </div>
                    </div>
                </div>
                <div class="course" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
                    <div class="release" fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center">

                        <div class="header" fxLayout="row">
                            -1546:54
                        </div>
                        <div class="content" fxLayout="column">
                            <div class="updated">SLA Restante</div>
                        </div>
                    </div>
                </div>
                <div class="course" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
                    <div class="release" fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center">

                        <div class="header" fxLayout="row">
                            01:54
                        </div>
                        <div class="content" fxLayout="column">
                            <div class="updated">Tempo de Atendimento</div>
                        </div>
                    </div>
                </div>
                <div class="course" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
                    <div class="release" fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center">

                        <div class="header" fxLayout="row">
                            N/A
                        </div>
                        <div class="content" fxLayout="column">
                            <div class="updated">Previsão de Solução</div>
                        </div>
                    </div>
                </div>
                <div class="course" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
                    <div class="release" fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center">

                        <div class="header" fxLayout="row">
                            30/01/18 15:05
                        </div>
                        <div class="content" fxLayout="column">
                            <div class="updated">Data Inicial</div>
                        </div>
                    </div>
                </div>
                <div class="course" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
                    <div class="release" fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center">

                        <div class="header" fxLayout="row">
                            10/02/18
                        </div>
                        <div class="content" fxLayout="column">
                            <div class="updated">Data de Alteração</div>
                        </div>
                    </div>
                </div>
                <div class="course" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
                    <div class="release" fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center">

                        <div class="header" fxLayout="row">
                            Edirson Batista Sobrinho
                        </div>
                        <div class="content" fxLayout="column">
                            <div class="updated">Último Operador</div>
                        </div>
                    </div>
                </div>
                <div class="course" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
                    <div class="release" fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center">

                        <div class="header" fxLayout="row">
                            TC00554
                        </div>
                        <div class="content" fxLayout="column">
                            <div class="updated">Detectado Por</div>
                        </div>
                    </div>
                </div>
                <div class="course" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
                    <div class="release" fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center">

                        <div class="header" fxLayout="row">
                            TI8
                        </div>
                        <div class="content" fxLayout="column">
                            <div class="updated">Ambiente</div>
                        </div>
                    </div>
                </div>
                <div class="course" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
                    <div class="release" fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center">

                        <div class="header" fxLayout="row">
                            Ambiente
                        </div>
                        <div class="content" fxLayout="column">
                            <div class="updated">Origem</div>
                        </div>
                    </div>
                </div>
                <div class="course" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
                    <div class="release" fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center">

                        <div class="header" fxLayout="row">
                            Ambiente - Serviço
                        </div>
                        <div class="content" fxLayout="column">
                            <div class="updated">Natureza</div>
                        </div>
                    </div>
                </div>
                <div class="course" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
                    <div class="release" fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center">

                        <div class="header" fxLayout="row">
                            SOA
                        </div>
                        <div class="content" fxLayout="column">
                            <div class="updated">Sistema</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="parte" fxLayout="row wrap">
                <div class="course" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="50">
                    <div class="release" fxLayout="column" fxFlex="1 1 auto">

                        <div class="header" fxLayout="row">
                            Descrição
                        </div>
                        <div class="content" fxLayout="column">
                            RetornoDefesaOrçamento - Ao reprovar Defesa de Orçamento no Clarity, builder
                            não retorna o estado do subprojeto e avança com o mesmo. Segundo Builder o
                            subprojeto segue independente de chegar oi_aprovado ou oi_reprovado. Estamos
                            seguindo o que no DSOL e na máquina de estado.
                            Sobre esse cenário, estamos aguardando posição RT.
                        </div>
                    </div>
                </div>
                <div class="course" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="50">
                    <div class="release" fxLayout="column" fxFlex="1 1 auto">

                        <div class="header" fxLayout="row">
                            Comentário do Desenvolvedor
                        </div>
                        <div class="content" fxLayout="column">
                            FABRICIO SCALIONI [TC6478236], 23/10/2019
                        </div>
                    </div>
                </div>
            </div>

            <div class="parte" fxLayout="row wrap">
                <div class="course" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="100">
                    <div class="release" fxLayout="column" fxFlex="1 1 auto">

                        <div class="header-defeito" fxLayout="row">
                            Descrição
                        </div>
                        <div class="content" fxLayout="column">
                            <h4>Lista de Agentes Envolvidos</h4><br />
                            <ul>
                                <li class="agente-envolvido">Builder - Open Labs (3)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="parte" fxLayout="row wrap">
                <div class="course" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="100">
                    <div class="release" fxLayout="column" fxFlex="1 1 auto">

                        <div class="header" fxLayout="row">
                            Histórico
                        </div>
                        <div class="content" fxLayout="column">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>