.mat-elevation-z8{
    width: 100%;
    box-shadow: none !important;
}

.titulo-indicador{
    background-color: #FF6D00;
    color: #FFF;
    padding: 5px;
}

.rodape{
    ackground-color: #FF6D00;
    color: #FFF;
    padding: 5px;
    height: 20px;
}