// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

.mat-dialog-container {
    padding: 0 !important;
}

.secondary-text {
    font-family: "SimplonOi-Headline";
    font-size: 15px;
}

.title-cards {
    width: 100%;
    padding: 10px;
    background-color: #ff6d00;
    color: #fff;
    border-radius: 4px 4px 0px 0px;
    font-weight: 900;
    margin-top: 10px;
}

.box{
    width: 100%;
    background-color: #FFF; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}

.content {
    margin: 20px !important;
    width: 100%;
}